@font-face {
  font-family: 'Inter';
  src: url('../../../public/fonts/Inter/Inter-Regular.eot');
  src: url('../../../public/fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../public/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../../../public/fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../../../public/fonts/Inter/') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../public/fonts/Inter/Inter-Bold.eot');
  src: url('../../../public/fonts/Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../public/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../../../public/fonts/Inter/Inter-Bold.woff') format('woff'),
    url('../../../public/fonts/Inter/') format('truetype');
  font-weight: 700;
  font-style: normal;
}